# Heroes Of Pymoli Data Analysis

1> More Male players  like the game
2> The game is liked by players in the age group of 15-29 especially in the 20-24 age bracket
3> 'Retribution Axe' is most profitable and popular item ,company should develop/build on this product

In [119]:
import pandas as pd

In [120]:
file_path1 = "purchase_data.json"
file_path2 = "purchase_data2.json"

In [121]:
#concatenate the 2 input files
df_purchase_data1 = pd.read_json(file_path1)
df_purchase_data2 = pd.read_json(file_path2)
df_purchase_data = pd.concat([df_purchase_data1,df_purchase_data2])

# Player Counts

In [122]:
#by appending the files SN is not the Key for few records so total player and gender counts were having a mismatch
#so created a new unique key comprising of SN,Age and Gender

In [123]:
df_purchase_data["id_player"] = df_purchase_data["SN"] + '-' + df_purchase_data["Age"].astype(str)+ '-'\
                                + df_purchase_data["Gender"]
# Get totals players using new key id player
total_players = df_purchase_data["id_player"].nunique()

In [124]:
#Display Total Players
df_total_players = pd.DataFrame({"Total Players":[total_players]})
df_total_players

   Total Players
0            646

# Purchasing Analysis (Total)

In [125]:
#Get totals and store in variables
nbr_unique_items = df_purchase_data["Item ID"].nunique()
avg_price = df_purchase_data["Price"].mean()
tot_purchase = df_purchase_data["Item ID"].count()
tot_revenue = df_purchase_data["Price"].sum()

In [126]:
# set total in dataframe and display output
df_total_purchase_anal = pd.DataFrame({"Number of Unique Items":[nbr_unique_items],
                                       "Average Price":[avg_price],
                                       "Number of Purchases":[tot_purchase],
                                       "Total Revenue":[tot_revenue]
                                     })

df_total_purchase_anal["Average Price"] = df_total_purchase_anal["Average Price"].map("${0:,.2f}".format)
df_total_purchase_anal["Total Revenue"] = df_total_purchase_anal["Total Revenue"].map("${0:,.2f}".format)
df_total_purchase_anal

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.93                  858                     184     $2,514.43

# Gender Demographics

In [127]:
#group by gender to get totals
df_gender_group = df_purchase_data.groupby("Gender")

In [128]:
# Custom Function to calculate percent totals
def tot_player_ratio(x):
    return x/total_players

In [129]:
#get totals store and then from dataframe
df_gender_dem = pd.DataFrame(df_gender_group["id_player"].nunique())
df_gender_dem = df_gender_dem.rename(columns = {"id_player":"Total Count"})

In [130]:

df_gender_dem['Percent of Players'] = ((df_gender_dem["Total Count"].map(tot_player_ratio)) * 100)\
                                        .map("{0:,.2f}%".format)

In [131]:
df_gender_dem = df_gender_dem.reindex_axis(['Percent of Players','Total Count'],axis=1)\
                .sort_values(by=['Total Count'],ascending=False)
df_gender_dem

                      Percent of Players  Total Count
Gender
Male                              81.11%          524
Female                            17.49%          113
Other / Non-Disclosed              1.39%            9

# Purchasing Analysis (Gender)

In [132]:
#group by gender
df_purch_anal = pd.DataFrame( df_gender_group["Item ID"].count())

In [133]:
#get totals ,store and display from dataframe
df_purch_anal = df_purch_anal.rename(columns= {'Item ID' :'Purchase Count'})
df_purch_anal["Average Purchase Price"] = df_gender_group["Price"].mean()
df_purch_anal["Total Purchase Value"] = df_gender_group["Price"].sum()
df_purch_anal["Normalized Totals"] = df_purch_anal["Total Purchase Value"] / df_gender_group["id_player"].nunique()
df_purch_anal["Average Purchase Price"] = df_purch_anal["Average Purchase Price"].map("${0:,.2f}".format)
df_purch_anal["Total Purchase Value"] = df_purch_anal["Total Purchase Value"].map("${0:,.2f}".format)
df_purch_anal["Normalized Totals"] =df_purch_anal["Normalized Totals"].map("${0:,.2f}".format)
df_purch_anal

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,149,$2.85,$424.29,$3.75
Male,697,$2.94,"$2,052.28",$3.92
Other / Non-Disclosed,12,$3.15,$37.86,$4.21

# Age Demographics

In [134]:
# Create the bins in which Data will be held
bins = [0,9, 14, 19, 24, 29,34,39, 100]

# Create the names for bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# Cut postTestScore and place the scores into bins
df_purchase_data["Age_Demo"] = pd.cut(df_purchase_data["Age"], bins, labels=group_names)
df_age_demo_grp =  df_purchase_data.groupby("Age_Demo")

In [135]:
#calculate totals, store and display from dataframe
df_age_demo = pd.DataFrame(df_age_demo_grp["id_player"].nunique())
df_age_demo = df_age_demo.rename(columns = {"id_player":"Total Count"})

In [136]:
df_age_demo['Percent of Players'] = ((df_age_demo["Total Count"].map(tot_player_ratio)) * 100)\
                                        .map("{0:,.2f}%".format)
df_age_demo

          Total Count Percent of Players
Age_Demo
< 10               24              3.72%
10-14              26              4.02%
15-19             111             17.18%
20-24             293             45.36%
25-29              94             14.55%
30-34              53              8.20%
35-39              33              5.11%
40+                12              1.86%

# Purchasing Analysis (Age)

In [137]:

#calculate totals, store and display from dataframe
df_purch_anal_age = pd.DataFrame( df_age_demo_grp["Item ID"].count())

In [138]:
#calculate totals , rearrange columns , store and display dataframe
df_purch_anal_age = df_purch_anal_age.rename(columns= {'Item ID' :'Purchase Count'})
df_purch_anal_age["Average Purchase Price"] = df_age_demo_grp["Price"].mean()
df_purch_anal_age["Total Purchase Value"] = df_age_demo_grp["Price"].sum()
df_purch_anal_age["Normalized Totals"] = df_purch_anal_age["Total Purchase Value"] / df_age_demo_grp["id_player"].nunique()
df_purch_anal_age["Average Purchase Price"] = df_purch_anal_age["Average Purchase Price"].map("${0:,.2f}".format)
df_purch_anal_age["Total Purchase Value"] = df_purch_anal_age["Total Purchase Value"].map("${0:,.2f}".format)
df_purch_anal_age["Normalized Totals"] =df_purch_anal_age["Normalized Totals"].map("${0:,.2f}".format)
df_purch_anal_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age_Demo,,,,
< 10,33,$2.95,$97.28,$4.05
10-14,38,$2.79,$105.91,$4.07
15-19,144,$2.89,$416.83,$3.76
20-24,372,$2.92,"$1,087.66",$3.71
25-29,134,$2.96,$396.44,$4.22
30-34,71,$2.97,$211.14,$3.98
35-39,48,$2.93,$140.77,$4.27
40+,18,$3.24,$58.40,$4.87

# Top Spenders

In [139]:
#group by player ID
df_player_grp =  df_purchase_data.groupby("id_player")

In [140]:

df_player_stats = pd.DataFrame( df_player_grp["Item ID"].count())

In [141]:
df_player_stats = df_player_stats.rename(columns= {'Item ID' :'Purchase Count'})
df_player_stats["Average Purchase Price"] = df_player_grp["Price"].mean()
df_player_stats["Total Purchase Value"] = df_player_grp["Price"].sum()
df_player_stats = df_player_stats.sort_values(by=['Total Purchase Value'],ascending=False)
df_player_stats = df_player_stats.iloc[0:5,:]


df_player_stats["Average Purchase Price"] = df_player_stats["Average Purchase Price"].map("${0:,.2f}".format)
df_player_stats["Total Purchase Value"] = df_player_stats["Total Purchase Value"].map("${0:,.2f}".format)

df_player_stats

,Purchase Count,Average Purchase Price,Total Purchase Value
id_player,,,
Undirrala66-29-Male,5,$3.41,$17.06
Saedue76-25-Male,4,$3.39,$13.56
Mindimnya67-39-Female,4,$3.18,$12.74
Haellysu29-21-Male,3,$4.24,$12.73
Eoda93-22-Male,3,$3.86,$11.58

# Most Popular Items

In [142]:
#group by player ID
df_item_grp =  df_purchase_data.groupby("Item ID")
df_item_grp.count()
df_item_stats = pd.DataFrame( df_item_grp["Item ID"].count())
df_item_stats = df_item_stats.rename(columns= {'Item ID' :'Purchase Count'})
dlookup = df_purchase_data.set_index("Item ID")["Item Name"].to_dict()
df_item_stats["Item Name"] = pd.Series(dlookup)

df_item_stats = df_item_stats.reindex_axis(["Item Name",'Purchase Count'],axis=1)\


dlookup = df_purchase_data.set_index("Item ID")["Price"].to_dict()
df_item_stats["Item Price"] = pd.Series(dlookup)
df_item_stats["Total Purchase Value"] = df_item_grp["Price"].sum()

df_most_pop = df_item_stats.sort_values(by=['Purchase Count','Total Purchase Value'],ascending=False)
df_most_pop = df_most_pop.iloc[0:5,:]
df_most_pop["Item Price"] = df_most_pop["Item Price"].map("${0:,.2f}".format)
df_most_pop["Total Purchase Value"] = df_most_pop["Total Purchase Value"].map("${0:,.2f}".format)
df_most_pop

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
84,Arcane Gem,12,$4.81,$29.34
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
31,Trickster,10,$4.59,$23.22
34,Retribution Axe,9,$4.14,$37.26
107,"Splitter, Foe Of Subtlety",9,$4.15,$33.03

# Most Profitable Items

In [143]:
df_most_profitable = df_item_stats.sort_values(by=['Total Purchase Value'],ascending=False)

In [144]:
df_most_profitable = df_most_profitable.iloc[0:5,:]
df_most_profitable["Item Price"] = df_most_profitable["Item Price"].map("${0:,.2f}".format)
df_most_profitable["Total Purchase Value"] = df_most_profitable["Total Purchase Value"].map("${0:,.2f}".format)
df_most_profitable

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,$4.14,$37.26
107,"Splitter, Foe Of Subtlety",9,$4.15,$33.03
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
84,Arcane Gem,12,$4.81,$29.34